// main page start
@import "./res";
@import "../elements/main-page/nav";
@import "../elements/main-page/header";
@import "../elements/main-page/about_us";
@import "../elements/main-page/shop";
@import "../elements/main-page/review";
@import "../elements/main-page/follow-us";
@import "../elements/main-page/subscribe";
@import "../elements/main-page/footer";
// main page end

// about us page start
@import "../elements/about-us/header_about-us";
@import "../elements/about-us/about-us-video";
@import "../elements/about-us/about-coffe";
@import "../elements/about-us/team";
// about us page end

//shop start
@import "../elements/shop/suplice";
//shop end

//contact-us page start
@import "../elements/contact-us/contact-form";
//contact-us page end

// blog page
@import "../elements/blog/blog.scss";
// blog page

// single blog
@import "../elements/single-blog/single-blog";
// single blog

// FAQ
@import "../elements/FAQ/FAQ";
// FAQ

// error
@import "../elements/error/error";
// error

// coming soon
@import "../elements/coming-soon/coming-soon";
// coming soon

// font start
@import url(https://fonts.googleapis.com/css?family=Fahkwang:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
//font end

body {
  font-family: Fahkwang;
  background-color: #f9f3ee;
}
.container {
  padding: 0 20px 0 20px;
  max-width: 1320px;
  margin: 0 auto;
}
.bnt-dark {
  font-size: 16px;
  padding: 15px 25px;
  max-width: 150px;
  background-color: #3d3017;
  color: #fff;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-light {
  font-size: 16px;
  padding: 15px 25px;
  max-width: 200px;
  background-color: #f9f3ee;
  color: #3d3017;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px #3d3017 solid;
}
.bnt-dark-sub {
  font-size: 16px;
  padding: 16px 13px 15px 14px;
  max-width: 135px;
  background-color: #3d3017;
  color: #fff;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
