.subscribe {
  margin-top: 4em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .form {
    margin-top: 35px;
    position: relative;
  }
  .text_before-sub {
    margin-top: 25px;
  }
}
.input {
  border: 1px #3d3017 solid;
  width: 570px;
  height: 60px;
  padding: 20px;
}
.bnt-dark-sub {
  position: absolute;
  top: -30px;
  right: 5px;
}
